<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://dvette.com:3306/VAMP</property>
    <property name="hibernate.connection.username">awesomesauce</property>
    <property name="hibernate.connection.password">TeamAwesomeSauce2012</property>
    <mapping resource="database/useraccount.hbm.xml"/>
    <mapping resource="database/library.hbm.xml"/>
    <mapping resource="database/Playlist.hbm.xml"/>
    <mapping resource="database/PlaylistSongs.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
